body {
    background-image: url('../images/bg/bg-3.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    height: 100vh; 
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .container {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 40px;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    max-width: 1100px; 
    color: white; 
  }
  
  
  .img-fluid {
    max-height: 350px;
    object-fit: cover; 
    border-radius: 10px; 
  }
  
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  